/***********************
COLOR LIST
-----------
Purple: #4D0577
Red: #E80C0C
Orange: #E8560C
Green: #11D80B
Yellow: #A4CE0B
**********************/

/***********************
General
***********************/

body {
    color: white;
    background: black;
}

/***********************
Header
***********************/

#header h1 {
    font: 400 3em "Raleway", 'Helvetica Neue', 'Helvetica', sans-serif;
    letter-spacing: 3px;
    margin: 28px 0 0 35px;
    float: left;
    color: #4D0577;
}

/************************
Cube
*************************/

.container {
    width: 100px;
    height: 100px;
    margin: 30px 0 0 0;
    float: right;
}

.cube {
    width: 100%;
    height: 100%;
    
    perspective: 1000px;
    -webkit-perspective: 1000px;
    -moz-perspective: 1000px;
    -o-perspective: 1000px;
    
    perspective-origin: 350% -170%;
    -webkit-perspective-origin: 350% -170%;
    -moz-perspective-origin: 350% -170%;
    -o-perspective-origin: 350% -170%;
}

.face {
    position: absolute;
    width: 50px;
    height: 50px;
    border: 1px solid white;
    
    /*animation: border-change 8s infinite cubic-bezier(1,.01,1,.01);
    -webkit-animation: border-change 8s infinite cubic-bezier(1,.01,1,.01);
    -moz-animation: border-change 8s infinite cubic-bezier(1,.01,1,.01);
    -o-animation: border-change 8s infinite cubic-bezier(1,.01,1,.01);*/
}

.front {
    transform: translateZ(25px);
    -webkit-transform: translateZ(25px);
    -moz-transform: translateZ(25px);
    -o-transform: translateZ(25px);
    
    animation: border-change-front 5s infinite cubic-bezier(1,.01,1,.01);
    -webkit-animation: border-change-front 5s infinite cubic-bezier(1,.01,1,.01);
    -moz-animation: border-change-front 5s infinite cubic-bezier(1,.01,1,.01);
    -o-animation: border-change-front 5s infinite cubic-bezier(1,.01,1,.01);
}

.back {
    transform: rotateY(180deg) translateZ(25px);
    -webkit-transform: rotateY(180deg) translateZ(25px);
    -moz-transform: rotateY(180deg) translateZ(25px);
    -o-transform: rotateY(180deg) translateZ(25px);
    
    animation: border-change-front 6s infinite cubic-bezier(1,.01,1,.01);
    -webkit-animation: border-change-front 6s infinite cubic-bezier(1,.01,1,.01);
    -moz-animation: border-change-front 6s infinite cubic-bezier(1,.01,1,.01);
    -o-animation: border-change-front 6s infinite cubic-bezier(1,.01,1,.01);
}

.right {
    transform: rotateY(90deg) translateZ(25px);
    -webkit-transform: rotateY(90deg) translateZ(25px);
    -moz-transform: rotateY(90deg) translateZ(25px);
    -o-transform: rotateY(90deg) translateZ(25px);
    
    animation: border-change-front 7s infinite cubic-bezier(1,.01,1,.01);
    -webkit-animation: border-change-front 7s infinite cubic-bezier(1,.01,1,.01);
    -moz-animation: border-change-front 7s infinite cubic-bezier(1,.01,1,.01);
    -o-animation: border-change-front 7s infinite cubic-bezier(1,.01,1,.01);
}

.left {
    transform: rotateY(-90deg) translateZ(25px);
    -webkit-transform: rotateY(-90deg) translateZ(25px);
    -moz-transform: rotateY(-90deg) translateZ(25px);
    -o-transform: rotateY(-90deg) translateZ(25px);
    
    animation: border-change-front 8s infinite cubic-bezier(1,.01,1,.01);
    -webkit-animation: border-change-front 8s infinite cubic-bezier(1,.01,1,.01);
    -moz-animation: border-change-front 8s infinite cubic-bezier(1,.01,1,.01);
    -o-animation: border-change-front 8s infinite cubic-bezier(1,.01,1,.01);
}

.top {
    transform: rotateX(90deg) translateZ(25px);
    -webkit-transform: rotateX(90deg) translateZ(25px);
    -moz-transform: rotateX(90deg) translateZ(25px);
    -o-transform: rotateX(90deg) translateZ(25px);
    
    animation: border-change-front 9s infinite cubic-bezier(1,.01,1,.01);
    -webkit-animation: border-change-front 9s infinite cubic-bezier(1,.01,1,.01);
    -moz-animation: border-change-front 9s infinite cubic-bezier(1,.01,1,.01);
    -o-animation: border-change-front 9s infinite cubic-bezier(1,.01,1,.01);
}

.bottom {
    transform: rotateX(-90deg) translateZ(25px);
    -webkit-transform: rotateX(-90deg) translateZ(25px);
    -moz-transform: rotateX(-90deg) translateZ(25px);
    -o-transform: rotateX(-90deg) translateZ(25px);
    
    animation: border-change-front 4s infinite cubic-bezier(1,.01,1,.01);
    -webkit-animation: border-change-front 4s infinite cubic-bezier(1,.01,1,.01);
    -moz-animation: border-change-front 4s infinite cubic-bezier(1,.01,1,.01);
    -o-animation: border-change-front 4s infinite cubic-bezier(1,.01,1,.01);
}

/***********************
Pre-Order
***********************/

#slogan {
    clear: both;
}

#slogan-p {
    display: none;
    color: #51d4f2;
    text-align: center;
    font: 200 1.75em "Raleway", 'Helvetica Neue', 'Helvetica', sans-serif;
}

/***********************
Diagram
***********************/

#diagram p {
    display: none;
    font: 200 1em "Raleway", 'Helvetica Neue', 'Helvetica', sans-serif;
    text-align: center;
    width: 60%;
    margin: 20px auto;
    line-height: 1.5em;
}

img {
    padding-top: 30px;
    display: block;
    width: 300px;
    margin: 0 auto;
}

#speaker, #mid {
    animation: position-change 4s 1 ease-in-out;
    -webkit-animation: position-change 4s 1 ease-in-out;
    -moz-animation: position-change 4s 1 ease-in-out;
    -o-animation: position-change 4s 1 ease-in-out;
}

/***********************
Footer
***********************/

#footer {
    text-align: center;
    margin: 120px 0 20px 0;
}

#footer a {
    text-decoration: none;
    font: 200 1em "Raleway", 'Helvetica Neue', 'Helvetica', sans-serif;
    color: #51d4f2;
}

#facebook, #twitter, #github {
    margin: 20px 10px;
}

/************************
Animations
************************/

/*Entire Cube Color Changing*/

@keyframes border-change {
    0% {border: 1px solid #E8560C;}
    20% {border: 1px solid #E80C0C;}
    40% {border: 1px solid #4D0577;}
    60% {border: 1px solid #4D0577;}
    80% {border: 1px solid #11D80B;}
    100% {border: 1px solid #E8560C;}
}

@-webkit-keyframes border-change {
    0% {border: 1px solid #E8560C;}
    20% {border: 1px solid #E80C0C;}
    40% {border: 1px solid #4D0577;}
    60% {border: 1px solid #4D0577;}
    80% {border: 1px solid #11D80B;}
    100% {border: 1px solid #E8560C;}
}

@-moz-keyframes border-change {
    0% {border: 1px solid #E8560C;}
    20% {border: 1px solid #E80C0C;}
    40% {border: 1px solid #4D0577;}
    60% {border: 1px solid #4D0577;}
    80% {border: 1px solid #11D80B;}
    100% {border: 1px solid #E8560C;}
}

@-o-keyframes border-change {
    0% {border: 1px solid #E8560C;}
    20% {border: 1px solid #E80C0C;}
    40% {border: 1px solid #4D0577;}
    60% {border: 1px solid #4D0577;}
    80% {border: 1px solid #11D80B;}
    100% {border: 1px solid #E8560C;}
}

/*Edges of Cube Changing Color Independently*/

@keyframes border-change-front {
    0% {
        border-left: 1px solid #E8560C;
        border-right: 1px solid #E80C0C;
        border-top: 1px solid #4D0577;
        border-bottom: 1px solid #4D0577;
    }
    
    20% {
        border-left: 1px solid #E80C0C;
        border-right: 1px solid #4D0577;
        border-top: 1px solid #4D0577;
        border-bottom: 1px solid #11D80B;
    }
    
    40% {
        border-left: 1px solid #4D0577;
        border-right: 1px solid #4D0577;
        border-top: 1px solid #11D80B;
        border-bottom: 1px solid #E8560C;
    }
    
    60% {
        border-left: 1px solid #4D0577;
        border-right: 1px solid #11D80B;
        border-top: 1px solid #E8560C;
        border-bottom: 1px solid #E80C0C;
    }
    
    80% {
        border-left: 1px solid #11D80B;
        border-right: 1px solid #E8560C;
        border-top: 1px solid #E80C0C;
        border-bottom: 1px solid #4D0577;
    }
    
    100% {
        border-left: 1px solid #E8560C;
        border-right: 1px solid #E80C0C;
        border-top: 1px solid #4D0577;
        border-bottom: 1px solid #4D0577;
    }
}

@-webkit-keyframes border-change-front {
    0% {
        border-left: 1px solid #E8560C;
        border-right: 1px solid #E80C0C;
        border-top: 1px solid #4D0577;
        border-bottom: 1px solid #4D0577;
    }
    
    20% {
        border-left: 1px solid #E80C0C;
        border-right: 1px solid #4D0577;
        border-top: 1px solid #4D0577;
        border-bottom: 1px solid #11D80B;
    }
    
    40% {
        border-left: 1px solid #4D0577;
        border-right: 1px solid #4D0577;
        border-top: 1px solid #11D80B;
        border-bottom: 1px solid #E8560C;
    }
    
    60% {
        border-left: 1px solid #4D0577;
        border-right: 1px solid #11D80B;
        border-top: 1px solid #E8560C;
        border-bottom: 1px solid #E80C0C;
    }
    
    80% {
        border-left: 1px solid #11D80B;
        border-right: 1px solid #E8560C;
        border-top: 1px solid #E80C0C;
        border-bottom: 1px solid #4D0577;
    }
    
    100% {
        border-left: 1px solid #E8560C;
        border-right: 1px solid #E80C0C;
        border-top: 1px solid #4D0577;
        border-bottom: 1px solid #4D0577;
    }
}

@-moz-keyframes border-change-front {
    0% {
        border-left: 1px solid #E8560C;
        border-right: 1px solid #E80C0C;
        border-top: 1px solid #4D0577;
        border-bottom: 1px solid #4D0577;
    }
    
    20% {
        border-left: 1px solid #E80C0C;
        border-right: 1px solid #4D0577;
        border-top: 1px solid #4D0577;
        border-bottom: 1px solid #11D80B;
    }
    
    40% {
        border-left: 1px solid #4D0577;
        border-right: 1px solid #4D0577;
        border-top: 1px solid #11D80B;
        border-bottom: 1px solid #E8560C;
    }
    
    60% {
        border-left: 1px solid #4D0577;
        border-right: 1px solid #11D80B;
        border-top: 1px solid #E8560C;
        border-bottom: 1px solid #E80C0C;
    }
    
    80% {
        border-left: 1px solid #11D80B;
        border-right: 1px solid #E8560C;
        border-top: 1px solid #E80C0C;
        border-bottom: 1px solid #4D0577;
    }
    
    100% {
        border-left: 1px solid #E8560C;
        border-right: 1px solid #E80C0C;
        border-top: 1px solid #4D0577;
        border-bottom: 1px solid #4D0577;
    }
}

@-o-keyframes border-change-front {
    0% {
        border-left: 1px solid #E8560C;
        border-right: 1px solid #E80C0C;
        border-top: 1px solid #4D0577;
        border-bottom: 1px solid #4D0577;
    }
    
    20% {
        border-left: 1px solid #E80C0C;
        border-right: 1px solid #4D0577;
        border-top: 1px solid #4D0577;
        border-bottom: 1px solid #11D80B;
    }
    
    40% {
        border-left: 1px solid #4D0577;
        border-right: 1px solid #4D0577;
        border-top: 1px solid #11D80B;
        border-bottom: 1px solid #E8560C;
    }
    
    60% {
        border-left: 1px solid #4D0577;
        border-right: 1px solid #11D80B;
        border-top: 1px solid #E8560C;
        border-bottom: 1px solid #E80C0C;
    }
    
    80% {
        border-left: 1px solid #11D80B;
        border-right: 1px solid #E8560C;
        border-top: 1px solid #E80C0C;
        border-bottom: 1px solid #4D0577;
    }
    
    100% {
        border-left: 1px solid #E8560C;
        border-right: 1px solid #E80C0C;
        border-top: 1px solid #4D0577;
        border-bottom: 1px solid #4D0577;
    }
}

/*Diagram Movement*/

@keyframes position-change {
    0% {
        transform: translateZ(0);
        margin-top: -200px;
    }
}

@-webkit-keyframes position-change {
    0% {
        transform: translateZ(0);
        margin-top: -200px;
    }
}

@-moz-keyframes position-change {
    0% {
        transform: translateZ(0);
        margin-top: -200px;
    }
}

@-o-keyframes position-change {
    0% {
        transform: translateZ(0);
        margin-top: -200px;
    }
}

/************************
Media Queries
*************************/

@media only screen and (min-width: 768px) {
    #header h1 {
        margin: 28px 0 0 100px;
    }
    
    .container {
        margin: 30px 80px 0 0;
    }
}

@media only screen and (min-width: 1024px) {
    #header h1 {
        margin: 28px 0 0 250px;
    }
    
    .container {
        margin: 30px 180px 0 0;
    }
}